/.DS_Store
/CSS-flag-challenge
/DOM Various Challenges
/Flex-box-challenge
/HTML-CCS-Basics
/HTML-Challenge
/HTML-Video-Challenge
/HTML-Video-Challenge-1
/JavaScript Intro
/Noughts-Crosses
/Rock-Paper-Scissors-
/admiral-portfolio
/admiral-portfolio-1
/admiral-tests
/box-model-challenge
/calculator
/davies-designs-studio-_UCVrH-ZIIg-unsplash.jpg
/final-js-challenges
/functional-calculator
/git-practice-for-admiral
/image-challenge
/mock-instagram
/nology-portfolio
/portfolio